<div ng-controller="HomeController as controller">
  <h2>Input to convert to pig latin</h2>

  <div class="row">
    <div class="col-md-6">
      <input type="text" id="input-field" class="form-control" placeholder="input word here" autofocus
      ng-model="controller.inputField">
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary" ng-click="controller.makePigLatin()">Go</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Output</h2>
      <textarea id="output-field" class="form-control" rows="2" ng-model="controller.outputField" disabled="true"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>History</h2>
      <ol>
        <li ng-repeat="history in controller.histories">{{history}}</li>
      </ol>
    </div>
  </div>

</div>

